// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
/*button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%))*/
.btn-primary, .btn-outline-primary {
  font-weight: 400;
  transition: .2s all ease $imp;
}
.btn-primary {
  @include button-variant($green, $green, $green-dark, $green-dark, lighten($green, 10%), darken($green,30%));
  padding: rem(6px) rem(45px);
}

.btn-outline-primary {
  @include button-variant(transparent, lighten($white, 10%), transparent, darken($white, 7.5%), lighten($white, 10%), darken($white,30%));
  border: 1px solid;
  padding: rem(6px) rem(15px);
}
