// Variables

// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Use this file to override the Bootstrap variables with your own values

// Open this one to see all available variables
// node_modules/bootstrap/scss/_variables.scss

// Fonts
$font-family-base: "Lato", sans-serif;
$font-family-alternate: "Open Sans", sans-serif;
$enable-responsive-font-sizes: true;

// Base colors
$white: #fff;
$black: #000;
$blue: #2687e9;
$blue-2: #4983bb;
$blue-3: #385a7b;
$blueDark: #090f25;
$green: #46bb51;
$green-dark: #449D44;
$grey-dark: #333;
$grey-light: #d8d8d8;
$red: #f0530a;

// Colors
$body-bg: #fff;

// Text colors
$text-primary: $white;
$text-secondary: $blueDark;
$text-white: $white;
$text-shadow: #117a8b;

// Bachground Color
$bg-primary: $blueDark;

// Anchor links
$link-color: $blue;
$link-decoration: none;
$link-hover-color: $blue-2;
$link-hover-decoration: none;

// Overrides
$imp: !important;

// Spacing
$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2),
    6: ($spacer * 2.5),
    7: ($spacer * 3),
    8: ($spacer * 3.5),
    9: ($spacer * 4),
    10: ($spacer * 4.5),
    11: ($spacer * 5),
    12: ($spacer * 6),
    13: ($spacer * 7),
  ),
  $spacers
);

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  xm: rem(432px),
  sm: rem(576px),
  md: rem(768px),
  lg: rem(992px),
  xl: rem(1200px),
);

// Grid containers
$container-max-widths: (
  xm: rem(420px),
  sm: rem(540px),
  md: rem(720px),
  lg: rem(960px),
  xl: rem(1140px),
);

// Grid columns
$grid-gutter-width: rem(30px);

// Components
$rounded-pill-button: rem(4px);
$rounded-pill-input: rem(8px);
$border-radius-lg: rem(18px);

// Buttons + Forms
$border-width: 0;

// Buttons
$btn-border-radius: $rounded-pill-button;

$btn-padding-y: rem(10px);
$btn-padding-x: rem(36px);
$btn-font-size: rem(24px);

$btn-padding-y-sm: rem(8px);
$btn-padding-x-sm: rem(16px);
$btn-font-size-sm: rem(20px);

$btn-padding-y-lg: rem(16px);
$btn-padding-x-lg: rem(32px);
$btn-font-size-lg: rem(28px);

// Forms
$component-active-bg: $blue;

$input-bg: $white;
$input-color: $black;

$input-border-color: transparent;
$input-box-shadow: none;

$input-focus-border-color: $blue-2;
$input-focus-box-shadow: none;

$custom-control-label-color: $blue-2;
$custom-control-indicator-focus-border-color: $blue-2;

$input-btn-padding-x: rem(16px);
$input-btn-padding-y: rem(14px);

$input-border-radius: $rounded-pill-input;

// Typography
$h1-font-size: rem(44px);
$h2-font-size: rem(36px);
$h3-font-size: rem(22px);

