/* stylelint-disable selector-no-qualifying-type */

// Common styles
html {
  scroll-behavior: smooth;
  font-size: 80%;
}

body {
  overflow-x: hidden;
  font-size: rem(20px);
  background: $white;
  -webkit-font-smoothing: antialiased $imp;
  -moz-osx-font-smoothing: grayscale;

  &.logged-in {
    .navbar.fixed-top {
      margin-top: 32px;

      @media screen and (max-width: 799px) {
        margin-top: 46px;
      }
    }
  }
}

// Titles
.title-hero {
  color: $white;
  font-size: $h1-font-size;
  font-weight: 400;
}
.title-section-blue {
  color: $blue;
  font-size: $h2-font-size;
  font-weight: 600;
}
.title-card-blue {
  color: $blue-2;
  font-size: $h3-font-size;
  font-weight: 500;
}

// Utils
.error-msg {
  color: $red;
}
