// Utilities

// Contextual colors
.text {
  &-primary {
    color: $blue $imp;
  }

  &-blue-dark {
    color: $blue-3 $imp;
  }

  &-grey {
    color: $grey-dark $imp;
  }

  &-grey-dark {
    color: $blue-2;
  }
}

.font-weight {
  &-black {
    font-weight: 900;
  }
}
